/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Archivo', sans-serif;
    color: var(--text-black);
}

:root {
    /* Use a color close to but not exactly black */
    --text-black: #30323d;
    --primary-color: #e6decd;
    --accent-color: #00bcb9;
    --second-accent-color: #d88c91;
    --third-accent-color: #75b5db;
}

/*---
EXPERIENCE
---*/
.experience {
    position: fixed; /* keeps in place regardless of scrolling */
    width: 100vw;
    height: 100vh;
}

.experience-canvas {
    /* Take up 100% of experience */
    width: 100%;
    height: 100%;
}

/*---
LANDING PAGE
---*/
.page {
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page-wrapper {
    position: relative;
}

/*---
SECTIONS
---*/
.section-margin {
    height: 3000px;
    width: 100%;
}

.section {
    position: relative;
    width: 50%;
    padding: 1000px 4%;
    margin: 0;
    background-color: var(--primary-color);
    overflow: hidden;
}

.left {
    margin-right: auto;
    /* Round out section edges */
    border-top-right-radius: 700px 700px;
    border-bottom-right-radius: 0px 0px;
}

.right {
    margin-left: auto;
    /* Round out section edges */
    border-top-left-radius: 700px 700px;
    border-bottom-left-radius: 0px 0px;
}

/* Progress bar */
.progress-wrapper {
    height: 0;
    width: 12px;
    z-index: 9999;
}

.progress-bar-wrapper-left {
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar-wrapper-right {
    position: absolute;
    top: 0;
    right: 0;
}

.progress-bar {
    height: 100vh;
    width: 100%;
    background-color: var(--accent-color);
    transform-origin: top center;
    transform: scaleY(1);
}

.section-intro-wrapper {
    position: relative;
    padding: 20% 5%;
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 400px;
}

.section-detail-wrapper {
    position: relative;
    padding: 20% 5%;
}

.section-heading {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.8;
    margin-top: 64px;
}

.section-text {
    line-height: 2;
    margin-top: 18px;
    font-size: 16px;
}

/*---
3D SHAPE SECTION GRAPHIC
---*/
.section-title {
    position: absolute;
    color: var(--primary-color);
}

.section-title-text {
    display: block;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    transform-origin: left; /* set origin for text*/
    transform: skewY(25deg);
    z-index: 5; /* bring text forward*/
    color: var(--accent-color);
}

.styleOne,
.styleTwo,
.styleThree {
    position: absolute;
    display: block;
    width: 100%;
    max-width: 278px;
    height: 60px;
    border: 1px solid var(--accent-color);
    transform-origin: left; /* set origin for text*/
    transform: skewY(-25deg);
}

.styleOne {
    top: 0px;
}

.styleTwo {
    top: 80px;
}

.styleThree {
    top: 80px;
    transform: skewY(25deg);
    background-color: var(--accent-color);
}

.section-number {
    position: absolute;
    bottom: 15px;
    right: 0;
    color: var(--accent-color);
    font-size: 24px;
}

/*---
HERO
---*/
.hero {
    width: 100vw;
    height: 100vh;
}

.hero-wrapper {
    position: relative;
    height: 100%;
    /* width: calc(100% - 160px); */
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
}

.hero-main {
    position: absolute;
    top: calc(50% - 210px);
    left: 280px;
}

.hero-second {
    position: absolute;
    bottom: 180px;
    right: 240px;
}

.hero-main-title {
    font-size: 64px;
}

.hero-main-description {
    font-size: 20px;
}

.hero-second-subheading {
    font-size: 32px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

/*---
SECTION (OTHER COLORS)
---*/
.red-text {
    color: var(--second-accent-color);
}
.red-border {
    border-color: var(--second-accent-color);
}
.red-background {
    background-color: var(--second-accent-color);
}

.blue-text {
    color: var(--third-accent-color);
}
.blue-border {
    border-color: var(--third-accent-color);
}
.blue-background {
    background-color: var(--third-accent-color);
}

/*---
MEDIA QUERIES
---*/
@media (max-width: 968px) {
    .section {
        width: 100%;
    }
    /* Make all progress bars appear left */
    .progress-bar-wrapper-left {
        left: auto; /* Overrides setting for desktop */
        right: 0;
    }
}
