/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Archivo', sans-serif;
    color: var(--text-black);
}

/* body {
    overflow: hidden;
} */

:root {
    /* Use a color close to but not exactly black */
    --floor-color: #e1e8e9; /* not sure why, same color doesn't appear as in Floor */
    --text-black: #30323d;
    --primary-color: #e6decd;
    --first-accent-color: #00bcb9;
    --second-accent-color: #d88c91;
    --third-accent-color: #75b5db;
    --copyright-color: #328ec3; /* bit darker than third accent color */
}

/*---
EXPERIENCE
---*/
.experience {
    position: fixed; /* keeps in place regardless of scrolling */
    width: 100vw;
    height: 100vh;
}

.experience-canvas {
    /* Take up 100% of experience */
    width: 100%;
    height: 100%;
}

/*---
LOADING SCREEN (3 DOTS)
---*/
.hidden {
    display: none;
}

.preloader {
    /* Loading screen background */
    background-color: var(--floor-color);
    width: 100%;
    height: 100vh;
    z-index: 99999;
    position: fixed;
    opacity: 1;
}

.preloader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 0.7vw;
    height: 0.7vw;
    border-radius: 50%;
    margin: 0.4vw;
    /* Color of loading dots */
    background-color: #d0aa84;
    animation: load 1s ease-in-out infinite;
}

/* Create a slow wave effect */
.circle:nth-child(2) {
    animation-delay: 0.1s;
}

.circle:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes load {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-1.8vh);
    }
    40% {
        transform: translateY(0);
    }
}

/*---
LANDING PAGE
---*/
.page {
    z-index: 99999;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* hide default scrollbar */
}

.page-wrapper {
    position: relative;
}

/* Preloader text */
.animatethis {
    display: inline-block; /* so text can move */
    transform: translateY(100%);
}

.intro-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* Center text */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* width, height */
    /* Format text */
    font-weight: 500;
    font-size: 5.2vw; /* 40px */
    color: var(--text-black);
}

/* Preloader arrow */
svg {
    /* Arrow size */
    height: 5vh;
    width: 5vw;
}
.arrow-svg-wrapper {
    position: absolute;
    top: 90%;
    left: calc(50% - 2.5vw); /* must account for arrow size */
    opacity: 0; /* Set initial state*/
    color: var(--text-black);
    transform: translate(-50%, -50%); /* width, height */
    animation: bounce 0.5s ease-in alternate infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(1.5vh);
    }
}

/*---
SECTIONS
---*/
/* Margin between sections */
.section-margin {
    height: 278vh;
    width: 100%;
}

/* Spacing above/below section header & text */
.section {
    position: relative;
    width: 50%;
    padding: 142vh 4%;
    margin: 0;
    background-color: var(--primary-color);
    overflow: hidden; /* prevents progress bar from extending beyond section*/
}

.left {
    margin-right: auto;
    /* Round out section edges */
    border-top-right-radius: 91vw 91vw;
    border-bottom-right-radius: 0vw 0vw;
}

.right {
    margin-left: auto;
    /* Round out section edges */
    border-top-left-radius: 91vw 91vw;
    border-bottom-left-radius: 0vw 0vw;
}

/* Progress bar */
.progress-wrapper {
    height: 0;
    width: 1.6vh;
    z-index: 99999;
}

.progress-bar-wrapper-left {
    position: absolute;
    top: 0;
    left: 0;
}

.progress-bar-wrapper-right {
    position: absolute;
    top: 0;
    right: 0;
}

.progress-bar {
    height: 100vh;
    width: 100%;
    background-color: var(--first-accent-color);
    transform-origin: top center;
    transform: scaleY(1);
}

/* Section header & text positioning relative to entire section */
.section-intro-wrapper {
    position: relative;
    padding: 20% 5%;
    border-bottom: 2px solid var(--first-accent-color);
    padding-bottom: 63vh;
}

/* Spacing around section header & text */
.section-detail-wrapper {
    position: relative;
    padding: 10% 7%;
}

.section-heading {
    font-size: 1.1vw;
    font-weight: 600;
    margin-top: 8vh;
    margin-bottom: 2vh;
}

.section-text {
    line-height: 3.8vh;
    margin-top: 1.7vh;
    font-size: 0.9vw;
}

.copyright {
    color: var(--copyright-color);
}
/*---
3D SHAPE SECTION GRAPHIC
---*/
.section-title {
    position: absolute;
    color: var(--primary-color);
    left: 4vw;
}

.section-title-text {
    display: block;
    font-size: 2.3vw;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transform-origin: left; /* set origin for text*/
    transform: skewY(25deg);
    z-index: 5; /* bring text forward*/
    color: var(--first-accent-color);
}

.styleOne,
.styleTwo,
.styleThree {
    position: absolute;
    display: block;
    /* Length of geometric shape */
    width: 15vw;
    /* Thickness of geometric shape */
    height: 6vh;
    /* Thickness of outlines */
    border: 1px solid var(--first-accent-color);
    transform-origin: left; /* set origin for text*/
    transform: skewY(-25deg);
}

/* Position of first (top) geometric shape outline */
.styleOne {
    top: 0vh;
}

/* Position of second (bottom) geometric shape outline */
.styleTwo {
    top: 7.5vh;
}

/* Position of front (bottom) geometric shape fill-in */
.styleThree {
    top: 7.5vh;
    transform: skewY(25deg);
    background-color: var(--first-accent-color);
}

.section-number {
    position: absolute;
    bottom: 2vh;
    right: 0;
    color: var(--first-accent-color);
    font-size: 1.3vw;
}

/*---
HERO
---*/
.hero {
    width: 100vw;
    height: 100vh;
}

.hero-wrapper {
    position: relative;
    height: 100%;
    width: calc(100% - 18vw);
    margin: 0 auto;
}

.intro-text {
    font-size: 4vh;
}

.hero-main {
    position: absolute;
    top: calc(50% - 28vh);
    left: 14vw;
}

.hero-second {
    position: absolute;
    bottom: calc(50% - 31vh);
    right: 11vw;
}

.hero-main-title {
    font-size: 3.5vw;
}

.hero-main-description {
    font-size: 1.6vw;
}

.hero-second-subheading {
    font-size: 2.2vw;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

/*---
SECTION (OTHER COLORS)
---*/
.red-text {
    color: var(--second-accent-color);
}
.red-border {
    border-color: var(--second-accent-color);
}
.red-background {
    background-color: var(--second-accent-color);
}

.blue-text {
    color: var(--third-accent-color);
}
.blue-border {
    border-color: var(--third-accent-color);
}
.blue-background {
    background-color: var(--third-accent-color);
}

/*---
BUTTONS (FOR 2ND, 3RD SECTIONS)
---*/
.button {
    border: none;
    background: none;
    margin-top: 9.5vh;
    cursor: pointer;
}

#linkedin.button {
    margin-top: 6vh;
}

/* Button text */
.button span {
    letter-spacing: 0.2em;
    font-size: 1.1vw;
    font-weight: 500;
    /* Padding at end of button text */
    padding-right: 0.8vw;
    text-transform: uppercase;
}

#github.button span {
    color: var(--second-accent-color);
}

#email.button span,
#linkedin.button span {
    color: var(--third-accent-color);
}

/* Button arrow */
.button svg {
    height: 1.4vh;
    width: 2vw;
    transform: translateX(-0.6em);
    transition: all 0.3s ease;
}

#github.button svg {
    color: var(--second-accent-color);
}

#email.button svg,
#linkedin.button svg {
    color: var(--third-accent-color);
}

.button:hover svg {
    transform: translateX(0);
}

.button:active svg {
    transform: scale(0.9);
}

/* Underline animation on hover */
.hover-underline-animation {
    position: relative;
    /* Padding from button text */
    padding-bottom: 0.5em;
}

#github.hover-underline-animation {
    color: var(--second-accent-color);
}

#email.hover-underline-animation,
#linkedin.hover-underline-animation {
    color: var(--third-accent-color);
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 109%;
    transform: scaleX(0);
    /* Thickness of underline */
    height: 0.15em;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#github.hover-underline-animation:after {
    background-color: var(--second-accent-color);
}

#email.hover-underline-animation:after {
    background-color: var(--third-accent-color);
}

#linkedin.hover-underline-animation:after {
    width: 120%;
    background-color: var(--third-accent-color);
}

.button:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*---
MEDIA QUERIES
---*/
/* For mobile */
@media (max-width: 968px) {
    /* How far apart preloader texts are from the middle */
    .hero-wrapper {
        width: calc(100% - 15vw);
    }
    /* Loading screen dots (x3) */
    .circle {
        width: 2vw;
        height: 2vw;
        margin: 1.3vw;
    }
    /* Arrow size */
    svg {
        height: 10vh;
        width: 10vw;
    }
    .arrow-svg-wrapper {
        left: calc(50% - 5vw); /* must account for arrow size */
    }
    .intro-text {
        font-size: 3vh;
    }
    .hero-main {
        top: calc(50% - 22vh);
        left: 0vw;
    }
    .hero-second {
        right: 0vw;
        text-align: right;
    }
    .hero-main-title {
        font-size: 8vw;
        margin-bottom: 0.6vh;
    }
    .hero-main-description {
        font-size: 4.3vw;
    }
    .hero-second-subheading {
        font-size: 5.5vw;
    }
    .first-sub {
        margin-bottom: 0.3vh;
    }
    /* Make all progress bars appear left */
    .progress-bar-wrapper-left {
        left: auto; /* Overrides setting for desktop */
        right: 0;
    }
    .progress-wrapper {
        width: 1.1vh;
    }
    /* Spacing before geometric header */
    .section {
        width: 100%;
        padding: 110vh 4.5%;
    }
    /* Text in geometric header */
    .section-title-text {
        font-size: 8vw;
    }
    /* Spacing between geometric header and section divider */
    .section-intro-wrapper {
        padding-bottom: 45vh;
    }
    /* Spacing around section header & text */
    .section-detail-wrapper {
        padding: 0% 5%;
    }
    .section-heading {
        font-size: 5.5vw;
        margin-top: 9.5vh;
    }
    .section-text {
        line-height: 3.3vh;
        margin-top: 2.5vh;
        font-size: 4.3vw;
    }
    /* Geometric header shape */
    .styleOne,
    .styleTwo,
    .styleThree {
        /* Length of geometric shape */
        width: 55vw;
    }
    /* Position of second (bottom) geometric shape outline */
    .styleTwo {
        top: 8vh;
    }
    /* Position of front (bottom) geometric shape fill-in */
    .styleThree {
        top: 8vh;
    }
    /* Section number size */
    .section-number {
        bottom: 3vh;
        font-size: 5vw;
    }
    /*---Button links---*/
    #linkedin.button {
        margin-top: 6vh;
    }
    /* Button text */
    .button span {
        font-size: 2vh;
    }
    /* Button arrow */
    .button svg {
        height: 1.4vh;
        width: 5vw;
        transform: translateX(0);
    }
    /* Make underline visible; mobile has no hover */
    .hover-underline-animation:after {
        transform: scaleX(1);
    }
    #github.hover-underline-animation:after {
        width: 105%;
    }
    #email.hover-underline-animation:after {
        width: 106%;
    }
    #linkedin.hover-underline-animation:after {
        width: 113%;
    }
}
